
#contactForms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}
.icon{
    height:40px;
    width:40px;
    display: block;
    margin: 10px auto;
}

h3{
    margin:auto;
    text-align: center;
    color:white;
}
 main section{
     height: 30vh;
     background: #4267b2;
     border-radius: 20px;
     width: 19vw;
     margin-bottom:50px;
     margin-right: 6vw;
     position: relative;
}
 main section p{
     color:white;
     line-height: 20px;
     padding-left:10px;
     padding-right:10px;
     padding-top:20px;
 }
 #facebook, #bellen, #sendMail{
     border:none;
     color:white;
     background-color:#164e95;
     width:60%;
     border-radius:20px;
     font-size:1.2rem;
     display:block;
     position: absolute;
     bottom: 5px;
     left: 20%;
     right: 20%;
 }
 main section p{
     text-align:center;
 }
 main section:nth-child(2){
     background: green;
 }

main section:nth-child(3){
    background: orange;
}

button a{
    text-decoration: none;
    color:white;
}

/*form*/

form{
    width:50%;
    margin:auto;
}
label{
    margin-left: 10.5vw;
}
textarea{
    height:200px;
    border-radius: 15px;
    border: 1px solid #164e95;


}
 input, textarea{
    display:block;
     width:45%;
}
 input, textarea, button{

     margin:auto;
     display:block;
     font-family: 'Heebo', sans-serif;
 }
input[type="text"], input[type="email"], input[type="tel"]{
    margin-top: 5px;
    margin-bottom:10px;
    border-radius:10px;
    height:30px;
    border: 1px solid #164e95;
    padding-left:20px;
    color:#164e95;
    font-weight:bold;

    }

input[type="submit"]{
    background: #164e95;
    border:none;
    margin-top: 20px;
    border-radius: 10px;
    height: 30px;
    color:white;

}
#annulate{
    margin-top:10px;
    border:none;
    background:#164e95;
    color:white;
    width: 45%;
    border-radius: 10px;
    height:30px;
}
hr{
    margin-bottom:20px;
}


@media screen and (max-width: 768px) {
    .Contact{
        flex-direction: column;
    }
    main section{
        width: 80vw;
        margin-right: 0;
    }

    form{
        width:80%;
    }
    label{
        margin-left:1vw;
    }
    #annulate, textarea{
        width:100%;
    }
    input{
        width:92%;
    }
}
@media screen and (max-width: 360px) {
    main section{
        height: 40vh;
    }
}


