
.Contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:95%;
    margin:auto;
}
.icon{
    height:40px;
    width:40px;
    display: block;
    margin: 10px auto;

}

h3{
    margin:auto;
    text-align: center;
    color:white;
}
 main section{

    height:250px;
    background: #4267b2;
     border-radius: 20px;
     width:19vw;
     margin-bottom:50px;
     margin-right:6vw;
}
 main section p{
     color:white;
     line-height: 20px;
     padding-left:10px;
     padding-right:10px;
     padding-top:20px;
 }
 button{
     border:none;
     color:white;
     background-color:#164e95;
     width:60%;
     margin-top:3.6vw;
     border-radius:20px;
     font-size:1.2rem;
     margin-left: auto;
     margin-right:auto;
     display:block;


 }
main section:nth-child(1) button {
    width:15vw;
}
 main section:nth-child(2){
     background: green;

 }
main section:nth-child(2) p {
    line-height: 5px;
    text-align:center;

}
main section:nth-child(2) button {
    margin-top:5.7vw;
}
main section:nth-child(3){
    background: orange;

}
main section:nth-child(3) p {
    line-height: 5px;
    text-align:center;

}
main section:nth-child(3) button {
    margin-top:5.7vw;
}
button a{
    text-decoration: none;
    color:white;
}