body{
    background: url("../media/loginback.PNG") no-repeat;
    background-size: cover;
}
main{
    width: auto;
}
#inloggen{
    width: 17vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form{
    display:block;
}

label, input[type="submit"]{
    display:block;
}
input, label{
    margin:auto;
    display: block;
    width: auto;
}
input{
    margin-bottom:20px;
    border: none;
    width: 13vw;
}
label{
    margin-left:13vw;
    margin-bottom:4px;
    display: none;
}
h3{
    text-align: center;
    color:white;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-size: 2rem;
    width: auto;
    border-bottom: 1px solid white;
}
input[type="submit"]{
    background: #164e95;
    color:white;
    font-weight: bold;
    height:35px;
}
input[type="text"], input[type="password"]{
    padding-left:10px;
    height: 35px;
}
#username{
    background: white url("../../images/username.svg") no-repeat 94% 5px;
    background-size: 25px;
}
#password{
    background: white url("../../images/password.svg") no-repeat 94% 5px;
    background-size: 25px;
}
input[type="submit"]:hover{
    background-color: white;
    border: 2px solid #164e95;
    color: #164e95;
}
/***************/
/* media screen*/
/***************/
@media screen and (max-width: 768px) {
    #inloggen{
        width: 55vw;
    }
    input{
        width: 40vw;
    }
}

@media screen and (max-width: 1024px) {
    #inloggen{
        width: 55vw;
    }
    input{
        width: 40vw;
    }
}