#inschrijven{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
section{
    margin-top:10px;
    background: #164e95;
    width:250px;
    border-radius: 15px;
    height:40vh;
    margin-bottom:5vh;
    align-items: center;
    margin-right:5%;
    margin-left:5%;
    position: relative;

}
h4{
    padding-top:20px;
    font-size:1.4rem;
    font-weight:bold;
    text-align:center;
    color:white;
}
h3{
    margin-top:20px;
    text-align:center;
}
p{
    padding-left:7%;
    color:white;
    padding-bottom:8px;
}
b{
    font-weight: bold;
}
input[type="submit"]{
    display:block;
    width:70%;
    border-radius: 5px;
    border:none;
    background: #4267b2;
    color:white;
    margin-top:10vh;
    height:30px;
    font-weight: bold;
    position: absolute;
    bottom:10px;
    margin-left:15%;
    margin-right:15%;


}