
@import url('https://fonts.googleapis.com/css?family=Heebo|Pacifico&display=swap');
body{
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
    height:100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    position: relative;
}
main{
    width:80%;
    margin:auto;
}
h1{
     font-family: 'Pacifico', cursive;
     z-index: +1;
     position: absolute;
     left: 0;
     margin-top: 17%;
     width: 100vw;
     text-align: center;
     color:  #164e95;
     font-size:4rem;
}
h2{
    margin-top:10vh;
    font-size:2rem;
    font-weight:bold;
    margin-bottom:20px;
    text-align:center;
}
h3{
    font-size:1.4rem;
    font-weight:bold;
    margin-bottom:10px;
}
nav {
    background-color: #164e95;
    width:100vw;
}
ul{
    text-align: center;
}
section p{
    line-height:30px;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    font-size:1.3rem;
    text-align: center;

}
nav a:hover{
    color:darkgrey;
}
#phone{
    display: none;
}
.hidden{
    display: none;
    visibility: hidden;
}
.sub{
    display: block;
    border-top: 1px solid white;
}
/*################*/
/*     footer  */
/*################*/
footer{
    background: #164e95;
    color: white;
    height:auto;
    padding: 20px;
    text-align:center;
    display: grid;
    grid-template-areas:
        "cont loc"
        "p p";
    margin-top: auto;
}
#location{
    grid-area: loc;
    text-align:center;

}
#location p{
    text-align: center;
    font-weight:bold;
}
#location h3{
    margin-top:20px;
}
#contact{
    margin-top: 20px;
    grid-area: cont;
}
#contact a{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
iframe{
    height:200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#maker{
    text-align: center;
}


/***************/
/* media screen*/
/***************/
@media screen and (max-width: 768px) {
    h1{
        font-size:1.7rem;
        margin-top:50px;
    }
    #phone{
        display:inline-block;
        color: #7a7a7a;
        font-weight:bold;
        font-size:1.3rem;
        text-align: center;
    }
    #pc{
        display: none;
    }
    #phone a{
        width: 100%;
    }
    footer{
        grid-template-areas:
                "cont"
                "loc"
                "p";
    }
    footer p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}