main section article{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "h3 . img"
                         "p p img";
}
main section article{
    margin-top: 20px;
    margin-bottom: 20px;
}
main section article img{
    grid-area: img;
}
main section article h3{
    grid-area: h3;
}
main section article p{
    grid-area: p;
}